---
title: "Team"
layout: default
excerpt: "People in the Edge AI Research Group"
sitemap: false
permalink: /team/
---

<div class="col-sm-12">
    <h1>{{ page.title }}</h1>

    <h2><a id="staff"></a>Faculty</h2>
    {% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
    {% for member in members %}
    <div class="row team-member-card">
        <div class="col-md-2">
            <a href="{{ site.url }}{{ site.baseurl }}{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="img-responsive img-thumbnail"
                     style="filter: grayscale(100%); max-width: 100px;" />
            </a>
        </div>

        <div class="col-md-10">
            <h4><a href="{{ site.url }}{{ site.baseurl }}{{ member.url }}">{{ member.title }}</a></h4>
            <p>{{ member.role }}</p>
        </div>
    </div>
    {% endfor %}

    <h2><a id="student"></a>Graduate Students</h2>
    {% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
    {% for member in members %}
    <div class="row team-member-card">
        <div class="col-md-2">
            <a href="{{ site.url }}{{ site.baseurl }}{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="img-responsive img-thumbnail"
                     style="filter: grayscale(100%); max-width: 100px;" />
            </a>
        </div>

        <div class="col-md-10">
            <h4><a href="{{ site.url }}{{ site.baseurl }}{{ member.url }}">{{ member.title }}</a></h4>
            <p>{{ member.role }}</p>
        </div>
    </div>
    {% endfor %}

    <h2><a id="undergraduate"></a>Undergraduate Researchers &amp; Interns</h2>
    {% assign members = site.posts | where: 'category', 'undergraduate' | sort: 'date' %}
    {% for member in members %}
    <div class="row team-member-card">
        <div class="col-md-2">
            <a href="{{ site.url }}{{ site.baseurl }}{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                     class="img-responsive img-thumbnail"
                     style="filter: grayscale(100%); max-width: 100px;" />
            </a>
        </div>

        <div class="col-md-10">
            <h4><a href="{{ site.url }}{{ site.baseurl }}{{ member.url }}">{{ member.title }}</a></h4>
            <p>{{ member.role }}</p>
        </div>
    </div>
    {% endfor %}
</div>
